$primary-color:#bcac76;
$headNav-color:#e9ecef;
$text-color:#343a40;
$hover-color:#9a884b;
$background-color:#fcf8e3;
$black-color:#000;
$dark-text:#212529;
$btn-background-color:#af9c5c;
$btn-border-color:#ab9754;
$white-color:#fff;
$btn-secondary-background-color:#877f64;
$btn-secondary-border-color:#877f64;
$btn-secondary-hover-bg-color:#716a54;
$btn-secondary-hover-border-color:#6a634e;
$btn-success-bg-color:#28a745;
$btn-success-border-color:#28a745;
$btn-success-hover-bg-color:#218838;
$btn-success-hover-border-color:#1e7e34;
$btn-secondary-active-color:#625d49;
$btn-success-active-color:#1c7430;
$btn-info-bg-color:#17a2b8;
$btn-info-border-color:#17a2b8;
$btn-info-hover-bg-color:#138496;
$btn-info-hover-border-color:#117a8b;
$btn-info-active-color:#10707f;
$btn-light-bg-color:#f8f9fa;
$btn-light-border-color:#f8f9fa;
$btn-light-hover-bg-color:#e2e6ea;
$btn-light-hover-border-color:#dae0e5;
$btn-light-active-color:#d3d9df;
$btn-dark-hover-bg-color:#101214;
$btn-dark-hover-border-color:#0a0c0d;
$btn-dark-active-color:#0a0c0d;
$btn-outline-warning-color:#ffc107;
$dropdown-item-color:#868e96;
$dropdown-hover-focus-color:#16181b;
$badge-warning-hover-focus-color:#d39e00;
$badge-danger-bg-color:#dc3545;
$badge-danger-hover-bg-color:#bd2130;
$badge-muted-hover-bg-color:#6c757d;
$bg-primary-hover-bg-color:#ab9754;
$bg-secondary-hover-bg-color:#6a634e;
$border-danger-border-color:#dc3545;